name: YAML Lint

on:
  pull_request:
    paths:
      - '**/*.yml'
      - '**/*.yaml'
      - '.yamllint.yaml'

jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run yamllint
        uses: ibiqlik/action-yamllint@v3
        with:
          config_file: .yamllint.yaml

