name: YAML Lint

on:
  pull_request:
    paths:
      - "mkdocs.yml"
      - ".yamllint.yml"
      - ".github/workflows/*.yml"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - run: pip install yamllint
      - run: yamllint -c .yamllint.yml mkdocs.yml .github/workflows/
